In [1]:
# from path import Path
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [3]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['REG1A'])
df.head()

    age sex  diagnosis     LYVE1        TFF1     REG1A
0    33   F          1  0.893219  654.282174  1262.000
1    81   F          1  2.037585  209.488250   228.407
12   49   F          1  1.416314   74.189903   505.571
19   28   F          1  0.583010  267.193539   381.000
20   54   F          1  0.004976  193.145661   113.000

In [4]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
1      1
12     1
19     1
20     1
      ..
570    2
579    2
580    2
581    2
589    2
Name: diagnosis, Length: 306, dtype: int64

In [5]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
12     1
19     1
20     1
      ..
570    0
579    1
580    0
581    1
589    0
Name: sex, Length: 306, dtype: int64

In [6]:
df.count()

age          306
sex          306
diagnosis    306
LYVE1        306
TFF1         306
REG1A        306
dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [9]:
y.value_counts()

1    166
2    140
Name: diagnosis, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(229, 5)

In [11]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.6363636363636364

In [13]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[28 14]
 [14 21]]

In [14]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       2
1            1       1
2            1       1
3            1       1
4            1       1
5            1       1
6            2       1
7            1       1
8            1       1
9            2       2
10           2       1
11           2       1
12           2       1
13           2       1
14           2       2
15           2       1
16           1       2
17           1       1
18           2       1
19           1       1

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6363636363636364

In [16]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.67      0.67      0.67        42
           2       0.60      0.60      0.60        35

    accuracy                           0.64        77
   macro avg       0.63      0.63      0.63        77
weighted avg       0.64      0.64      0.64        77

### Three Diagnoses

In [63]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [64]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['REG1A'])
df.head()

    age sex  diagnosis     LYVE1        TFF1     REG1A
0    33   F          1  0.893219  654.282174  1262.000
1    81   F          1  2.037585  209.488250   228.407
12   49   F          1  1.416314   74.189903   505.571
19   28   F          1  0.583010  267.193539   381.000
20   54   F          1  0.004976  193.145661   113.000

In [65]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
12     1
19     1
20     1
      ..
570    0
579    1
580    0
581    1
589    0
Name: sex, Length: 306, dtype: int64

In [66]:
df.count()

age          306
sex          306
diagnosis    306
LYVE1        306
TFF1         306
REG1A        306
dtype: int64

In [67]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [68]:
y.value_counts()

3    140
2     87
1     79
Name: diagnosis, dtype: int64

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(229, 5)

In [70]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [71]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.5454545454545454

In [72]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[11  3  6]
 [ 7  4 11]
 [ 7  1 27]]

In [73]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            3       3
1            2       1
2            1       2
3            3       2
4            1       1
5            2       1
6            3       1
7            3       2
8            3       2
9            3       3
10           2       1
11           1       2
12           3       1
13           1       1
14           3       3
15           1       1
16           1       3
17           3       2
18           1       1
19           2       2

In [74]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.44      0.55      0.49        20
           2       0.50      0.18      0.27        22
           3       0.61      0.77      0.68        35

    accuracy                           0.55        77
   macro avg       0.52      0.50      0.48        77
weighted avg       0.54      0.55      0.51        77

### Replacing REG1A with REG1B

In [17]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [18]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df.head()

   age sex  diagnosis     LYVE1      REG1B        TFF1
0   33   F          1  0.893219   52.94884  654.282174
1   81   F          1  2.037585   94.46703  209.488250
2   51   M          1  0.145589  102.36600  461.141000
3   61   M          1  0.002805   60.57900  142.950000
4   62   M          1  0.000860   65.54000   41.088000

In [19]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
1      1
2      1
3      1
4      1
      ..
585    2
586    2
587    2
588    2
589    2
Name: diagnosis, Length: 590, dtype: int64

In [20]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
2      0
3      0
4      0
      ..
585    0
586    1
587    0
588    1
589    0
Name: sex, Length: 590, dtype: int64

In [21]:
df.count()

age          590
sex          590
diagnosis    590
LYVE1        590
REG1B        590
TFF1         590
dtype: int64

In [22]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [23]:
y.value_counts()

1    391
2    199
Name: diagnosis, dtype: int64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(442, 5)

In [25]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7364864864864865

In [27]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[83 15]
 [24 26]]

In [28]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            2       1
2            1       1
3            2       2
4            2       2
5            2       2
6            1       2
7            1       1
8            1       2
9            1       1
10           1       1
11           1       2
12           2       2
13           1       1
14           1       1
15           1       2
16           1       1
17           1       1
18           1       2
19           2       1

In [29]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7364864864864865

In [30]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.78      0.85      0.81        98
           2       0.63      0.52      0.57        50

    accuracy                           0.74       148
   macro avg       0.70      0.68      0.69       148
weighted avg       0.73      0.74      0.73       148

### Replacing Reg1A with Reg1B (Three Diagnoses)

In [75]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [76]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df.head()

   age sex  diagnosis     LYVE1      REG1B        TFF1
0   33   F          1  0.893219   52.94884  654.282174
1   81   F          1  2.037585   94.46703  209.488250
2   51   M          1  0.145589  102.36600  461.141000
3   61   M          1  0.002805   60.57900  142.950000
4   62   M          1  0.000860   65.54000   41.088000

In [77]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
2      0
3      0
4      0
      ..
585    0
586    1
587    0
588    1
589    0
Name: sex, Length: 590, dtype: int64

In [78]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [79]:
y.value_counts()

2    208
3    199
1    183
Name: diagnosis, dtype: int64

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(442, 5)

In [81]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [82]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.527027027027027

In [83]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[24 16  6]
 [12 23 17]
 [ 6 13 31]]

In [84]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            2       2
1            1       3
2            3       3
3            1       1
4            2       1
5            1       1
6            2       3
7            2       1
8            2       2
9            1       1
10           3       2
11           2       1
12           3       3
13           3       3
14           1       2
15           3       3
16           2       1
17           1       3
18           3       1
19           2       1

In [85]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.57      0.52      0.55        46
           2       0.44      0.44      0.44        52
           3       0.57      0.62      0.60        50

    accuracy                           0.53       148
   macro avg       0.53      0.53      0.53       148
weighted avg       0.53      0.53      0.53       148

### Using Plasma

In [35]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [36]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df.head()

   age sex  diagnosis  plasma_CA19_9     LYVE1        TFF1
0   33   F          1           11.7  0.893219  654.282174
2   51   M          1            7.0  0.145589  461.141000
3   61   M          1            8.0  0.002805  142.950000
4   62   M          1            9.0  0.000860   41.088000
7   58   F          1           11.0  0.003574   40.294000

In [37]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
2      1
3      1
4      1
7      1
      ..
569    2
570    2
579    2
581    2
589    2
Name: diagnosis, Length: 350, dtype: int64

In [38]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
2      0
3      0
4      0
7      1
      ..
569    1
570    0
579    1
581    1
589    0
Name: sex, Length: 350, dtype: int64

In [39]:
df.count()

age              350
sex              350
diagnosis        350
plasma_CA19_9    350
LYVE1            350
TFF1             350
dtype: int64

In [40]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [41]:
y.value_counts()

1    200
2    150
Name: diagnosis, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(262, 5)

In [43]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.8977272727272727

In [45]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[45  5]
 [ 4 34]]

In [46]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            2       2
1            1       1
2            1       1
3            2       2
4            2       2
5            1       1
6            2       2
7            1       1
8            1       1
9            1       1
10           1       1
11           1       1
12           1       1
13           1       1
14           2       2
15           1       2
16           2       2
17           2       2
18           1       1
19           2       2

In [47]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8977272727272727

In [48]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.92      0.90      0.91        50
           2       0.87      0.89      0.88        38

    accuracy                           0.90        88
   macro avg       0.90      0.90      0.90        88
weighted avg       0.90      0.90      0.90        88

### Using Plasma (Three Diagnoses)

In [86]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [87]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df.head()

   age sex  diagnosis  plasma_CA19_9     LYVE1        TFF1
0   33   F          1           11.7  0.893219  654.282174
2   51   M          1            7.0  0.145589  461.141000
3   61   M          1            8.0  0.002805  142.950000
4   62   M          1            9.0  0.000860   41.088000
7   58   F          1           11.0  0.003574   40.294000

In [88]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
2      0
3      0
4      0
7      1
      ..
569    1
570    0
579    1
581    1
589    0
Name: sex, Length: 350, dtype: int64

In [89]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [90]:
y.value_counts()

3    150
2    108
1     92
Name: diagnosis, dtype: int64

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(262, 5)

In [92]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7386363636363636

In [93]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[12 10  1]
 [ 4 19  4]
 [ 0  4 34]]

In [94]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            3       3
1            2       1
2            2       2
3            3       3
4            3       3
5            1       1
6            3       3
7            2       2
8            2       2
9            1       1
10           1       1
11           2       1
12           3       2
13           3       2
14           3       3
15           2       3
16           3       3
17           3       3
18           1       1
19           3       3

In [95]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7386363636363636

In [96]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.75      0.52      0.62        23
           2       0.58      0.70      0.63        27
           3       0.87      0.89      0.88        38

    accuracy                           0.74        88
   macro avg       0.73      0.71      0.71        88
weighted avg       0.75      0.74      0.74        88

### Using All

In [49]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [50]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df= df.dropna(subset=['REG1A'])
df= df.dropna(subset=['REG1B'])
df.head()

,age,sex,diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,33,F,1,11.7,1.83222,0.893219,52.948840,654.282174,1262.0
19,28,F,1,8.7,0.50895,0.583010,13.619060,267.193539,381.0
21,50,F,1,8.7,0.95004,0.003800,56.399133,192.258882,137.0
27,45,M,1,9.6,1.35720,2.392864,28.509285,353.656656,563.0
28,35,M,1,4.0,0.24882,0.000995,9.245166,6.030701,624.0

In [51]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
19     1
21     1
27     1
28     1
      ..
569    2
570    2
579    2
581    2
589    2
Name: diagnosis, Length: 209, dtype: int64

In [52]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
19     1
21     1
27     0
28     0
      ..
569    1
570    0
579    1
581    1
589    0
Name: sex, Length: 209, dtype: int64

In [53]:
df.count()

age              209
sex              209
diagnosis        209
plasma_CA19_9    209
creatinine       209
LYVE1            209
REG1B            209
TFF1             209
REG1A            209
dtype: int64

In [54]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [55]:
y.value_counts()

2    134
1     75
Name: diagnosis, dtype: int64

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(156, 8)

In [57]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [58]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.9245283018867925

In [59]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[18  1]
 [ 3 31]]

In [60]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            1       2
2            2       2
3            2       2
4            1       1
5            2       2
6            2       2
7            1       2
8            2       2
9            1       1
10           1       1
11           2       2
12           1       1
13           2       2
14           1       1
15           1       1
16           1       2
17           1       1
18           1       1
19           2       2

In [61]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9245283018867925

In [62]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.86      0.95      0.90        19
           2       0.97      0.91      0.94        34

    accuracy                           0.92        53
   macro avg       0.91      0.93      0.92        53
weighted avg       0.93      0.92      0.93        53

### All (Three Diagnoses)

In [97]:
df = pd.read_csv("Pancreatic_Cancer_Project/Resources/Debernardi et al 2020 data.csv")
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [98]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df= df.dropna(subset=['REG1A'])
df= df.dropna(subset=['REG1B'])
df.head()

,age,sex,diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,33,F,1,11.7,1.83222,0.893219,52.948840,654.282174,1262.0
19,28,F,1,8.7,0.50895,0.583010,13.619060,267.193539,381.0
21,50,F,1,8.7,0.95004,0.003800,56.399133,192.258882,137.0
27,45,M,1,9.6,1.35720,2.392864,28.509285,353.656656,563.0
28,35,M,1,4.0,0.24882,0.000995,9.245166,6.030701,624.0

In [99]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
19     1
21     1
27     0
28     0
      ..
569    1
570    0
579    1
581    1
589    0
Name: sex, Length: 209, dtype: int64

In [100]:
df.count()

age              209
sex              209
diagnosis        209
plasma_CA19_9    209
creatinine       209
LYVE1            209
REG1B            209
TFF1             209
REG1A            209
dtype: int64

In [101]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [102]:
y.value_counts()

3    134
2     48
1     27
Name: diagnosis, dtype: int64

In [103]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(156, 8)

In [104]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.8490566037735849

In [105]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[ 4  2  1]
 [ 1  8  3]
 [ 0  1 33]]

In [106]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            3       3
1            3       3
2            3       3
3            3       3
4            2       3
5            3       3
6            1       1
7            3       3
8            3       3
9            3       3
10           2       2
11           3       3
12           3       3
13           3       3
14           1       1
15           2       2
16           3       3
17           2       2
18           3       3
19           2       2

In [107]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.80      0.57      0.67         7
           2       0.73      0.67      0.70        12
           3       0.89      0.97      0.93        34

    accuracy                           0.85        53
   macro avg       0.81      0.74      0.76        53
weighted avg       0.84      0.85      0.84        53