Import Dependencies

In [14]:
# from path import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Import Dataset

In [15]:
# data = ('../Resources/Debernardi et al 2020 data.csv')
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head(50)

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.700000,1.83222,0.893219,52.948840,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.467030,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.000000,0.78039,0.145589,102.366000,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.000000,0.70122,0.002805,60.579000,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.000000,0.21489,0.000860,65.540000,41.088000,NaN
5,S103,Cohort2,BPTB,53,M,1,NaN,NaN,NaN,0.84825,0.003393,62.126000,59.793000,NaN
6,S104,Cohort2,BPTB,70,M,1,NaN,NaN,NaN,0.62205,0.174381,152.277000,117.516000,NaN
7,S105,Cohort2,BPTB,58,F,1,NaN,NaN,11.000000,0.89349,0.003574,3.730000,40.294000,NaN
8,S106,Cohort2,BPTB,59,F,1,NaN,NaN,NaN,0.48633,0.001945,7.021000,26.782000,NaN
9,S107,Cohort2,BPTB,56,F,1,NaN,NaN,24.000000,0.61074,0.278778,83.928000,19.185000,NaN
10,S108,Cohort2,BPTB,77,F,1,NaN,NaN,NaN,0.29406,0.001176,6.218000,28.297000,NaN
11,S109,Cohort2,BPTB,71,M,1,NaN,NaN,23.000000,1.05183,0.860337,243.082000,608.284000,NaN
12,S11,Cohort1,BPTB,49,F,1,NaN,NaN,NaN,0.85956,1.416314,151.830770,74.189903,505.571
13,S110,Cohort2,BPTB,53,M,1,NaN,NaN,7.000000,1.91139,1.516773,150.890000,590.686000,NaN
14,S111,Cohort2,BPTB,56,F,1,NaN,NaN,12.000000,0.91611,0.599645,93.811000,93.576000,NaN
15,S112,Cohort2,BPTB,60,F,1,NaN,NaN,28.000000,0.50895,0.002036,24.366000,19.698000,NaN
16,S113,Cohort2,BPTB,69,F,1,NaN,NaN,9.000000,0.41847,0.001674,17.102000,0.032641,NaN
17,S114,Cohort2,BPTB,60,F,1,NaN,NaN,47.000000,0.80301,0.003212,3.588000,30.071000,NaN
18,S115,Cohort2,BPTB,55,M,1,NaN,NaN,17.000000,1.28934,2.285351,67.468000,269.805000,NaN
19,S116,Cohort1,BPTB,28,F,1,NaN,NaN,8.700000,0.50895,0.583010,13.619060,267.193539,381.000
20,S117,Cohort1,BPTB,54,F,1,NaN,NaN,NaN,1.24410,0.004976,5.507350,193.145661,113.000
21,S118,Cohort1,BPTB,50,F,1,NaN,NaN,8.700000,0.95004,0.003800,56.399133,192.258882,137.000
22,S119,Cohort1,BPTB,40,M,1,NaN,NaN,NaN,0.76908,0.653984,14.607579,341.267453,NaN
23,S12,Cohort1,BPTB,74,F,1,NaN,NaN,NaN,0.31668,0.583010,25.520350,146.588598,111.531
24,S120,Cohort1,BPTB,63,M,1,NaN,NaN,NaN,0.75777,2.440180,21.229480,109.421150,903.000
25,S121,Cohort1,BPTB,50,M,1,NaN,NaN,NaN,0.78039,1.044411,7.355656,250.344294,149.000
26,S122,Cohort1,BPTB,47,M,1,NaN,NaN,NaN,0.95004,0.748617,19.020988,248.570736,736.000
27,S123,Cohort1,BPTB,45,M,1,NaN,NaN,9.600000,1.35720,2.392864,28.509285,353.656656,563.000
28,S124,Cohort1,BPTB,35,M,1,NaN,NaN,4.000000,0.24882,0.000995,9.245166,6.030701,624.000
29,S125,Cohort1,BPTB,30,M,1,NaN,NaN,10.800000,1.18755,1.600313,22.471281,299.118360,570.000
30,S126,Cohort2,BPTB,48,F,1,NaN,NaN,NaN,0.72384,0.002895,5.354000,43.343000,NaN
31,S127,Cohort2,BPTB,44,F,1,NaN,NaN,NaN,1.22148,5.309197,21.965000,971.553000,NaN
32,S128,Cohort2,BPTB,44,F,1,NaN,NaN,NaN,1.17624,4.239308,7.620000,436.361000,NaN
33,S129,Cohort2,BPTB,56,F,1,NaN,NaN,NaN,0.13572,0.000543,2.276000,0.010586,NaN
34,S13,Cohort1,BPTB,58,F,1,NaN,NaN,NaN,1.21017,1.008584,45.185693,268.967097,116.998
35,S130,Cohort2,BPTB,44,F,1,NaN,NaN,NaN,2.02449,6.925281,53.110000,1274.490000,NaN
36,S131,Cohort2,BPTB,48,F,1,NaN,NaN,NaN,0.15834,0.000633,1.210000,3.526000,NaN
37,S132,Cohort2,BPTB,48,F,1,NaN,NaN,NaN,0.33930,0.001357,1.907000,3.044000,NaN
38,S133,Cohort2,BPTB,41,F,1,NaN,NaN,NaN,0.10179,1.013824,2.795000,1.820000,NaN
39,S134,Cohort2,BPTB,45,F,1,NaN,NaN,NaN,0.85956,0.963804,29.522000,363.076000,NaN
40,S135,Cohort2,BPTB,45,F,1,NaN,NaN,NaN,0.59943,4.090239,15.328000,67.711000,NaN
41,S136,Cohort2,BPTB,45,F,1,NaN,NaN,NaN,0.58812,0.462653,3.612000,34.237000,NaN
42,S137,Cohort2,BPTB,48,F,1,NaN,NaN,NaN,1.05183,7.300192,118.325000,1424.961000,NaN
43,S138,Cohort2,BPTB,89,F,1,NaN,NaN,NaN,0.64467,6.836843,76.834000,981.545000,NaN
44,S139,Cohort2,BPTB,87,M,1,NaN,NaN,0.056476,0.06786,0.000271,0.730367,0.005293,NaN
45,S14,Cohort1,BPTB,50,F,1,NaN,NaN,NaN,0.61074,0.110311,16.433270,174.522858,103.184
46,S140,Cohort2,BPTB,66,F,1,NaN,NaN,4.060258,0.75777,0.008920,5.419870,8.919911,NaN
47,S141,Cohort2,BPTB,59,M,1,NaN,NaN,0.908578,1.91139,0.062164,50.112200,62.164210,NaN
48,S142,Cohort2,BPTB,59,M,1,NaN,NaN,3.389304,1.26672,0.007114,5.225890,7.113679,NaN
49,S143,Cohort2,BPTB,36,F,1,NaN,NaN,5.128234,0.96135,0.019426,47.254685,19.425770,NaN

Check dtypes

In [16]:
df.dtypes

sample_id                   object
patient_cohort              object
sample_origin               object
age                          int64
sex                         object
diagnosis                    int64
stage                       object
benign_sample_diagnosis     object
plasma_CA19_9              float64
creatinine                 float64
LYVE1                      float64
REG1B                      float64
TFF1                       float64
REG1A                      float64
dtype: object

Drop Unnecessary Columns

In [17]:
df = df.drop(labels='patient_cohort',  axis=1)
df = df.drop(labels='sample_origin',  axis=1)
df = df.drop(labels='sample_id',  axis=1)
df.head()

,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [18]:
df.dtypes

age                          int64
sex                         object
diagnosis                    int64
stage                       object
benign_sample_diagnosis     object
plasma_CA19_9              float64
creatinine                 float64
LYVE1                      float64
REG1B                      float64
TFF1                       float64
REG1A                      float64
dtype: object

In [19]:
# df["sample_id"] = df["sample_id"].str.replace("S"," ").astype(int)

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['sex'] = le.fit_transform(df2['sex'])
df2['stage'] = le.fit_transform(df2['stage'])
df2['benign_sample_diagnosis'] = le.fit_transform(df2['benign_sample_diagnosis'])
df2

,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,33,0,1,8,52,11.7,1.83222,0.893219,52.948840,654.282174,1262.000
1,81,0,1,8,52,NaN,0.97266,2.037585,94.467030,209.488250,228.407
2,51,1,1,8,52,7.0,0.78039,0.145589,102.366000,461.141000,NaN
3,61,1,1,8,52,8.0,0.70122,0.002805,60.579000,142.950000,NaN
4,62,1,1,8,52,9.0,0.21489,0.000860,65.540000,41.088000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
585,68,1,3,7,52,NaN,0.52026,7.058209,156.241000,525.178000,NaN
586,71,0,3,7,52,NaN,0.85956,8.341207,16.915000,245.947000,NaN
587,63,1,3,7,52,NaN,1.36851,7.674707,289.701000,537.286000,NaN
588,75,0,3,7,52,NaN,1.33458,8.206777,205.930000,722.523000,NaN
589,74,1,3,7,52,1488.0,1.50423,8.200958,411.938275,2021.321078,13200.000

In [21]:
df2["sex"] = df2["sex"].astype(int)
df2["stage"] = df2["stage"].astype(int)
df2["benign_sample_diagnosis"] = df2["benign_sample_diagnosis"].astype(int)
df2.dtypes

age                          int64
sex                          int32
diagnosis                    int64
stage                        int32
benign_sample_diagnosis      int32
plasma_CA19_9              float64
creatinine                 float64
LYVE1                      float64
REG1B                      float64
TFF1                       float64
REG1A                      float64
dtype: object

In [22]:
df = df.fillna(0)

Seperate Features (X) from the Target (y)
Target = diagnosis

In [23]:
y = df2["diagnosis"]
X = df2.drop(columns="diagnosis")
# X = X.dropna()

Standard Scaler to Scale Data

In [24]:
# X = X.dropna()

In [25]:
# # Scale the dataset using MinMaxScaler()
# from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# X_scaled = MinMaxScaler().fit_transform(X)
# X_scaled

from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
df_scaled = data_scaler.fit_transform(df2)
df_scaled[:5]

array([[-1.99105614, -0.98653137, -1.27720828,  0.61174044,  0.64287494,
        -0.26466602,  1.52992666, -0.63166059, -0.29997469,  0.0558759 ,
         0.35713817],
       [ 1.673512  , -0.98653137, -1.27720828,  0.61174044,  0.64287494,
                nan,  0.18367983, -0.29859727, -0.08825598, -0.38467964,
        -0.3436827 ],
       [-0.61684309,  1.01365251, -1.27720828,  0.61174044,  0.64287494,
        -0.26660269, -0.11745433, -0.84925555, -0.04797581, -0.13542486,
                nan],
       [ 0.14660861,  1.01365251, -1.27720828,  0.61174044,  0.64287494,
        -0.26619063, -0.24145075, -0.89081229, -0.26106529, -0.45058386,
                nan],
       [ 0.22295377,  1.01365251, -1.27720828,  0.61174044,  0.64287494,
        -0.26577857, -1.00314303, -0.89137847, -0.23576707, -0.55147523,
                nan]])

Split Data into training and Testing

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(442, 10)

Standard Scaler to Scale Data

In [27]:
# # Scale the dataset using MinMaxScaler()
# from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# X_scaled = MinMaxScaler().fit_transform(X)
# X_scaled

# from sklearn.preprocessing import StandardScaler
# data_scaler = StandardScaler()
# df_scaled = data_scaler.fit_transform(df2)
# df_scaled[:5]

Create Logistic Regression Model

In [28]:
X = X.dropna()
# X.head()

In [29]:
classifier = LogisticRegression(solver='lbfgs',max_iter=1000,random_state=1)

Train model with training data

In [30]:
classifier.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

Make Predictions