In [1]:
# from path import Path
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [3]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['REG1A'])
df.head()

    age sex  diagnosis     LYVE1        TFF1     REG1A
0    33   F          1  0.893219  654.282174  1262.000
1    81   F          1  2.037585  209.488250   228.407
12   49   F          1  1.416314   74.189903   505.571
19   28   F          1  0.583010  267.193539   381.000
20   54   F          1  0.004976  193.145661   113.000

In [4]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
1      1
12     1
19     1
20     1
      ..
570    2
579    2
580    2
581    2
589    2
Name: diagnosis, Length: 306, dtype: int64

In [5]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
12     1
19     1
20     1
      ..
570    0
579    1
580    0
581    1
589    0
Name: sex, Length: 306, dtype: int64

In [6]:
df.count()

age          306
sex          306
diagnosis    306
LYVE1        306
TFF1         306
REG1A        306
dtype: int64

In [7]:
# df.dtypes

In [15]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# # Generate categorical variables
# cat_var = df.dtypes[df.dtypes == "object"].index.tolist()
# print(cat_var)

In [16]:
# enc = OneHotEncoder(sparse = False)

# encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))

# encode_df.columns = enc.get_feature_names_out(cat_var)
# encode_df.head()

In [17]:
# df = df.merge(encode_df, left_index=True, right_index=True)
# df = df.merge(encode_df, left_index=True, right_index=True)
# df = df.drop(cat_var, axis=1)

print(df)

     age  sex  diagnosis      LYVE1         TFF1      REG1A
0     33    1          1   0.893219   654.282174   1262.000
1     81    1          1   2.037585   209.488250    228.407
12    49    1          1   1.416314    74.189903    505.571
19    28    1          1   0.583010   267.193539    381.000
20    54    1          1   0.004976   193.145661    113.000
..   ...  ...        ...        ...          ...        ...
570   58    0          2   3.055294   196.709982    190.765
579   78    1          2   1.044345   327.397097    646.000
580   46    0          2  10.578610  3203.940000   7879.000
581   61    1          2   5.232527   755.820867   2331.500
589   74    0          2   8.200958  2021.321078  13200.000

[306 rows x 6 columns]

In [18]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [19]:
y.value_counts()

1    166
2    140
Name: diagnosis, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(229, 5)

In [21]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# classifier = LogisticRegression(solver = "lbfgs", max_iter=200, random_state=1)
# classifier = LogisticRegression(solver = "liblinear", max_iter=200, random_state=1, verbose=10)

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print()

In [23]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.6493506493506493

In [24]:
# classifier.fit(X_train, y_train)

In [25]:
# classifier.loss_curve_

In [26]:
# from sklearn.metrics import confusion_matrix, classification_report
# # y_pred = classifier.predict(X_test)
# y_pred = classifier.predict(X_test_scaled)
# matrix = confusion_matrix(y_test, y_pred)
# print(matrix)

In [27]:
# results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
# results.head(20)

In [28]:
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test, y_pred))

In [29]:
# report = classification_report(y_test, y_pred)
# print(report)

## Replacing REG1A with REG1B

In [30]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head(5)

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [31]:
# df['diagnosis'] = df['diagnosis'].replace(['2', '3'],['1', '2'])
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
1      1
2      1
3      1
4      1
      ..
585    2
586    2
587    2
588    2
589    2
Name: diagnosis, Length: 590, dtype: int64

In [32]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
2      0
3      0
4      0
      ..
585    0
586    1
587    0
588    1
589    0
Name: sex, Length: 590, dtype: int64

In [33]:
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df= df.dropna(subset=['REG1B'])
df.head()

   age  sex  diagnosis     LYVE1      REG1B        TFF1
0   33    1          1  0.893219   52.94884  654.282174
1   81    1          1  2.037585   94.46703  209.488250
2   51    0          1  0.145589  102.36600  461.141000
3   61    0          1  0.002805   60.57900  142.950000
4   62    0          1  0.000860   65.54000   41.088000

In [34]:
# from sklearn.preprocessing import StandardScaler, OneHotEncoder

# # Generate categorical variables
# cat_var = df.dtypes[df.dtypes == "object"].index.tolist()
# print(cat_var)

In [35]:
# enc = OneHotEncoder(sparse = False)

# encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))

# encode_df.columns = enc.get_feature_names(cat_var)
# encode_df.head()

In [36]:
# df = df.merge(encode_df, left_index=True, right_index=True)
# df = df.drop(cat_var, axis=1)
df = df.dropna()
df.head()

   age  sex  diagnosis     LYVE1      REG1B        TFF1
0   33    1          1  0.893219   52.94884  654.282174
1   81    1          1  2.037585   94.46703  209.488250
2   51    0          1  0.145589  102.36600  461.141000
3   61    0          1  0.002805   60.57900  142.950000
4   62    0          1  0.000860   65.54000   41.088000

In [37]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [38]:
y.value_counts()

1    391
2    199
Name: diagnosis, dtype: int64

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(442, 5)

In [40]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [41]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print()

In [42]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7094594594594594

In [43]:
# classifier = LogisticRegression(solver = "lbfgs", max_iter=200, random_state=1)

In [44]:
# classifier.fit(X_train, y_train)

In [45]:
# from sklearn.metrics import confusion_matrix, classification_report
# # y_pred = classifier.predict(X_test)
# y_pred = classifier.predict(X_test_scaled)
# matrix = confusion_matrix(y_test, y_pred)
# print(matrix)

In [46]:
# results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
# results.head()

In [47]:
# from sklearn.metrics import accuracy_scoreresults = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
# # results.head()
# print(accuracy_score(y_test, y_pred))

In [48]:
# report = classification_report(y_test, y_pred)
# print(report)

## Plasma

In [49]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [50]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
2      0
3      0
4      0
      ..
585    0
586    1
587    0
588    1
589    0
Name: sex, Length: 590, dtype: int64

In [51]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "creatinine", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df.head()

   age  sex  diagnosis  plasma_CA19_9     LYVE1        TFF1
0   33    1          1           11.7  0.893219  654.282174
2   51    0          1            7.0  0.145589  461.141000
3   61    0          1            8.0  0.002805  142.950000
4   62    0          1            9.0  0.000860   41.088000
7   58    1          1           11.0  0.003574   40.294000

In [52]:
df['diagnosis'] = df['diagnosis'].replace([1],[0])
df['diagnosis'] = df['diagnosis'].replace([2],[0])
df['diagnosis'] = df['diagnosis'].replace([3],[1])
print(df['diagnosis'])

0      0
2      0
3      0
4      0
7      0
      ..
569    1
570    1
579    1
581    1
589    1
Name: diagnosis, Length: 350, dtype: int64

In [53]:
df.count()

age              350
sex              350
diagnosis        350
plasma_CA19_9    350
LYVE1            350
TFF1             350
dtype: int64

In [54]:
df.dtypes

age                int64
sex                int64
diagnosis          int64
plasma_CA19_9    float64
LYVE1            float64
TFF1             float64
dtype: object

In [55]:
# from sklearn.preprocessing import StandardScaler, OneHotEncoder

# # Generate categorical variables
# cat_var = df.dtypes[df.dtypes == "object"].index.tolist()
# print(cat_var)

In [56]:
# enc = OneHotEncoder(sparse = False)

# encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))

# encode_df.columns = enc.get_feature_names(cat_var)
# encode_df.head()

In [57]:
# df = df.merge(encode_df, left_index=True, right_index=True)
# df = df.drop(cat_var, axis=1)

df.head()

   age  sex  diagnosis  plasma_CA19_9     LYVE1        TFF1
0   33    1          0           11.7  0.893219  654.282174
2   51    0          0            7.0  0.145589  461.141000
3   61    0          0            8.0  0.002805  142.950000
4   62    0          0            9.0  0.000860   41.088000
7   58    1          0           11.0  0.003574   40.294000

In [58]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

print(X)

     age  sex  plasma_CA19_9     LYVE1         TFF1
0     33    1           11.7  0.893219   654.282174
2     51    0            7.0  0.145589   461.141000
3     61    0            8.0  0.002805   142.950000
4     62    0            9.0  0.000860    41.088000
7     58    1           11.0  0.003574    40.294000
..   ...  ...            ...       ...          ...
569   44    1          271.7  9.005338  2856.123240
570   58    0          710.8  3.055294   196.709982
579   78    1          941.0  1.044345   327.397097
581   61    1        13740.0  5.232527   755.820867
589   74    0         1488.0  8.200958  2021.321078

[350 rows x 5 columns]

In [59]:
y.value_counts()

0    200
1    150
Name: diagnosis, dtype: int64

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(262, 5)

In [61]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(262, 5)

In [63]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print()

In [64]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.8977272727272727

In [65]:
classifier.fit(X_train, y_train)

NameError: name 'classifier' is not defined

In [66]:
from sklearn.metrics import confusion_matrix, classification_report
# y_pred = classifier.predict(X_test)
y_pred = classifier.predict(X_test_scaled)
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

NameError: name 'classifier' is not defined

In [67]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            0       0
2            0       0
3            1       1
4            1       1
5            0       0
6            1       1
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           1       1
15           0       1
16           1       1
17           1       1
18           0       0
19           1       1

In [68]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8977272727272727

In [69]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.90      0.91        50
           1       0.87      0.89      0.88        38

    accuracy                           0.90        88
   macro avg       0.90      0.90      0.90        88
weighted avg       0.90      0.90      0.90        88

## ALL TOGETHER NOW

In [70]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [71]:
df['sex'] = df['sex'].replace(['F'],[1])
df['sex'] = df['sex'].replace(['M'],[0])
print(df['sex'])

0      1
1      1
2      0
3      0
4      0
      ..
585    0
586    1
587    0
588    1
589    0
Name: sex, Length: 590, dtype: int64

In [72]:
# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
# df = df.drop(labels = "REG1A", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "stage", axis=1)
# df = df.drop(labels = "sex", axis=1)
# df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['plasma_CA19_9'])
df= df.dropna(subset=['REG1A'])
df= df.dropna(subset=['REG1B'])
df.head()

,age,sex,diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,33,1,1,11.7,1.83222,0.893219,52.948840,654.282174,1262.0
19,28,1,1,8.7,0.50895,0.583010,13.619060,267.193539,381.0
21,50,1,1,8.7,0.95004,0.003800,56.399133,192.258882,137.0
27,45,0,1,9.6,1.35720,2.392864,28.509285,353.656656,563.0
28,35,0,1,4.0,0.24882,0.000995,9.245166,6.030701,624.0

In [73]:
df['diagnosis'] = df['diagnosis'].replace([2],[1])
df['diagnosis'] = df['diagnosis'].replace([3],[2])
print(df['diagnosis'])

0      1
19     1
21     1
27     1
28     1
      ..
569    2
570    2
579    2
581    2
589    2
Name: diagnosis, Length: 209, dtype: int64

In [74]:
df.count()

age              209
sex              209
diagnosis        209
plasma_CA19_9    209
creatinine       209
LYVE1            209
REG1B            209
TFF1             209
REG1A            209
dtype: int64

In [75]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [76]:
y.value_counts()

2    134
1     75
Name: diagnosis, dtype: int64

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(156, 8)

In [78]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(156, 8)

In [80]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100, max_depth=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics 
print()

In [81]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.9433962264150944

In [ ]:
# classifier.fit(X_train, y_train)

In [ ]:
# from sklearn.metrics import confusion_matrix, classification_report
# # y_pred = classifier.predict(X_test)
# y_pred = classifier.predict(X_test_scaled)
# matrix = confusion_matrix(y_test, y_pred)
# print(matrix)

In [ ]:
# results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
# results.head(20)

In [ ]:
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test, y_pred))

In [ ]:
# report = classification_report(y_test, y_pred)
# print(report)